* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
.home-title,
.btn,
.item-name {
  text-transform: capitalize;
}
body {
  width: 100%;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 5.5rem;
  background: #f1f5f8;
  // overflow: scroll;
  section:nth-child(1) {
    height: 15rem;
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-bottom: 5rem;
    .home-title {
      font-size: 3rem;
    }
    .border {
      border-top: 3px solid #c59d5f;
      height: 4rem;
      width: 8rem;
    }
    .menu-btn {
      display: flex;
      justify-content: space-between;
      width: 50rem;
      .btn {
        font-size: 1.7rem;
        padding: 0.5rem 1rem;
        letter-spacing: 2px;
        border: 2px solid #c59d5f;
        border-radius: 1rem;
        background: none;
        color: #c59d5f;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        transition: all 0.3s linear;
        &:hover {
          color: #fff;
          background: #c59d5f;
          cursor: pointer;
        }
      }
    }
  }
  section:nth-child(2) {
    width: 120rem;
    height: 80%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 200px);
    .menu-item {
      // height: 150px;
      display: grid;
      gap: 15px;
      grid-template-columns: 225px 1fr;
      margin-bottom: 4rem;
      .item-img {
        img {
          width: 225px;
          height: 150px;
          object-fit: cover;
          border: 5px solid #c59d5f;
          border-radius: 1rem;
        }
      }
      .item-info {
        width: 90%;
        .item-header {
          font-size: 2rem;
          letter-spacing: 2px;
          border-bottom: 1px dotted #000;
          display: flex;
          justify-content: space-between;
          .item-price {
            color: #c59d5f;
          }
        }
        p {
          margin-top: 2rem;
          font-size: 1.5rem;
          color: #6c9ac8;
        }
      }
    }
  }
}
